<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "Teilnahmebedingungen", '#' %></li>
			<li><%= link_to "Datenschutzstuff", '#' %></li>
		</ul>
	</nav>
</footer>