<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Teilnahmebedingungen", '#' %></li>
			<li><%= link_to "Datenschutzstuff", '#' %></li>
		</ul>
	</nav>
</footer>